<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" media="all" href="about.component.css" />
</head>

<body>
    <div class="about-section animate__animated animate__bounce" style="text-align: justify;">
        <h2>Acerca de mí</h2>
        <p>Mi nombre es <strong>Marco Jaramillo</strong>, estudiante de la carrera de Tecnologías de la Información y Comunicación (TIC) en la Universidad de Machala. Esta página web ha sido creada con fines educativos y de aprendizaje, con el objetivo de
            realizar pruebas de funcionamiento y explorar diferentes conceptos en el ámbito de la tecnología.</p>
        <p>Como estudiante apasionado por la tecnología, estoy constantemente buscando nuevas formas de mejorar mis habilidades y conocimientos en el campo de las TIC. Esta plataforma me brinda la oportunidad de experimentar con diferentes tecnologías y
            técnicas de desarrollo web, mientras comparto mis conocimientos con otros estudiantes y profesionales del área.</p>
        <p>Además de mi interés en la tecnología, también disfruto explorando otras áreas como la programación, el diseño web y la inteligencia artificial. Creo firmemente en el aprendizaje continuo y en la importancia de mantenerse actualizado en un mundo
            tecnológico en constante evolución.</p>
        <p>Siempre estoy abierto a nuevas oportunidades de aprendizaje y colaboración, así que no dudes en ponerte en contacto conmigo si tienes alguna pregunta o sugerencia. ¡Espero que disfrutes explorando esta página tanto como yo disfruté creándola!</p>
    </div>
</body>

</html>