<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centrar y estilizar títulos</title>
    <link rel="stylesheet" href="home.component.css">
</head>

<body>
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="title-container">
                    <h1 class="animate__animated animate__zoomInDown title green-text">COMIC APP</h1>

                    <h1 class="animate__animated animate__flipInX title ">ESTA ES UNA APP DE COMICS</h1>
                </div>
            </div>
        </div>
    </div>
</body>

</html>